<div class="container">

  <h1 style="text-align: center; color: cadetblue;" >Welcome {{name}} To Sbk</h1>
  <app-animation></app-animation>
    <br>
    
    <form [formGroup]="depositForm" (ngSubmit)="deposit()" >
      <h1 style="color: orange;" appHighlight>Cash deposit</h1>
        <div class="mb-3">
          <label for="acno" class="form-label">AccountNumber</label>
          <input type="text" formControlName="ano" name="ano" class="form-control"  aria-describedby="emailHelp">
          <div *ngIf="(this.depositForm.get('ano')?.touched||this.depositForm.get('ano')?.dirty)&&this.depositForm.get('ano')?.errors" style="color: blueviolet;" class="error">Invalid AccountNumber</div>
        </div>
        <div class="mb-3">
          <label for="pwd" class="form-label">Password</label>
          <input type="password" formControlName="pswd" name="pswd" class="form-control" >
          <div *ngIf="(this.depositForm.get('pswd')?.touched||this.depositForm.get('pswd')?.dirty)&&this.depositForm.get('pswd')?.errors" style="color: blueviolet;" class="error">Invalid Password</div>
        </div>
        <div class="mb-3">
            <label for="amt" class="form-label">Amount</label>
            <input type="name" formControlName="amount" name="amount" class="form-control" >
            <div *ngIf="(this.depositForm.get('amount')?.touched||this.depositForm.get('amount')?.dirty)&&this.depositForm.get('amount')?.errors" style="color: blueviolet;"  class="error">Invalid Amount</div>
          </div>
        
        <button type="submit" style="margin-left: 40%;"  class="btn btn-primary">DEPOSIT</button>
        <br><br>
      </form>


      <form [formGroup]="withdrawForm" (ngSubmit)="withdraw()" >
        <h1 style="color: chartreuse;" appHighlight>Cash Withdrawal</h1>
        <div class="mb-3">
          <label for="acno" class="form-label">AccountNumber</label>
          <input type="text" formControlName="ano" name="ano" class="form-control"  aria-describedby="emailHelp">
          <div *ngIf="(this.withdrawForm.get('ano')?.touched||this.withdrawForm.get('ano')?.dirty)&&this.withdrawForm.get('ano')?.errors" style="color: blueviolet;" class="error">Invalid AccountNumber</div>
        </div>
        <div class="mb-3">
          <label for="pwd" class="form-label">Password</label>
          <input type="password" formControlName="pswd" name="pswd" class="form-control" >
          <div *ngIf="(this.withdrawForm.get('pswd')?.touched||this.withdrawForm.get('pswd')?.dirty)&&this.withdrawForm.get('pswd')?.errors" style="color: blueviolet;" class="error">Invalid Password</div>
        </div>
        <div class="mb-3">
            <label for="amt" class="form-label">Amount</label>
            <input type="name" formControlName="amount" name="amount" class="form-control">
            <div *ngIf="(this.withdrawForm.get('amount')?.touched||this.withdrawForm.get('amount')?.dirty)&&this.withdrawForm.get('amount')?.errors" style="color: blueviolet;" class="error">Invalid amount</div>
          </div>
        
        <button type="submit" style="margin-left: 40%; background-color: green;"  class="btn btn-primary">WITHDRAW</button> 
        <br><br>

    
    
          <p>Login date (unformatted):{{lLogin}}</p>
          <p>Login date :{{lLogin | date}}</p>
          <p>Login date :{{lLogin | date | uppercase}}</p>
          <p>Login date :{{lLogin | date:'medium'}}</p>
    
    
      </form>
      <app-delete-confirmation (onCancel)="onCancel()" (onDelete)="onDelete($event)" [item]="acno"></app-delete-confirmation>
      <br>
      <button type="submit" style="margin-left: 40%; background-color:brown;"  class="btn btn-primary" (click)="delete()">DELETE  ACCOUNT</button> 
    </div>
  

